@import url("styles/themes/theme-lynda.min.css");
.factory-flag{ visibility: hidden; }
.col-md-3:hover .caption {
    background: white;
    margin-top: 0px;
    padding: 15px 0px 5px;
}




.custom-sidemenu{height:0 !Important;}
		#case_study .box_sec{position:relative;height:400px;}
		#case_study .box_sec p{margin:20px 0 !important;float:left;width:100%;}
section,footer{float:left;width:100%;}
#about{padding:0 2%;}
.box_sec h3,#contact h2,#process h2  {
    color: #907a51;
    font-family: Urbano-LtExtraCond;
    font-size:97px;
    font-weight: 300;
    letter-spacing: 20px;
    margin: 0 0 18px 0;
    float: left;
    text-transform: uppercase;
    width: 100%;
}
.box_sec {
    padding: 10px;  text-align: center;
}
.box_sec p a,.box_sec p span {
    color: #ffffff; 
    font-family: Urbano-LtExtraCond;
    letter-spacing: 5px;
    text-transform: uppercase;font-size: 24px;
}
.box_sec h4 {
    bottom: 12px;
    color: #ffffff;
    float: none;
    font-size:19px;
    height: 0;
    left: 50%;
    line-height: 43px;
    opacity: 0;margin:0;
    overflow: hidden;letter-spacing:4px;
    padding: 0;font-weight:normal;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%, 0px);
    transition: all 1s ease 0s;font-family:"minion-pro",serif ;
    width: auto;
}
.gold-outliner:hover .border-top-right {
    animation-timing-function: ease-in;
    transition-delay: 0s;
    transition-duration: 0.05s;
    width: calc(50% - 10px) !important;
}
.gold-outliner:hover .border-right {
    height: calc(100% - 20px) !important;
    transition-delay: 0.05s;
    transition-duration: 0.1s;
}
.gold-outliner:hover .border-bottom {
    transition-delay: 0.15s;
    transition-duration: 0.18s;
    width: calc(100% - 20px) !important;
}
.gold-outliner:hover .border-left {
    height: calc(100% - 20px) !important;
    transition-delay: 0.33s;
    transition-duration: 0.1s;
}
.gold-outliner:hover .border-top-left {
    animation-timing-function: ease-out;
    transition-delay: 0.43s;
    transition-duration: 0.45s;
    width: 50% !important;
}
.gold-outliner:hover .border-top-right, .gold-outliner:hover .border-right, .gold-outliner:hover .border-bottom, .gold-outliner:hover .border-left {
    animation-timing-function: linear;
}
.gold-outliner .borders.border-top-right {
    height: 1px;
    left: 50%;
    top: 10px;
    width: 0;
}
.gold-outliner .borders {
    background-color: #88714d !important;
    position: absolute;border-color:#88714d;
    z-index: 5;
}
.gold-outliner .borders.border-right {
    height: 0;
    right: 10px;
    top: 10px;
    width:1px;
}
.gold-outliner .borders.border-bottom {
    bottom: 10px;
    height: 1px;
    right: 10px;
    width: 0;
}
.gold-outliner .borders.border-left {
    bottom: 10px;
    height: 0;
    left: 10px;
    width: 1px;
}
.gold-outliner .borders.border-top-left {
    height: 1px;
    left: 10px;
    top: 10px;
    width: 0;
}
.txt_ovrlay {
  float: left;
  height: 66px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 41%;
  width: 100%;
  z-index: 1;
}
.box_sec:hover h4 {
    height: 50px;
    opacity: 1;
}

 .box_sec h4::before {
    background: #565656 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
}
.box_sec h4::after {
    background: #565656 none repeat scroll 0 0;
    bottom:8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width:100%;
} 
#about{margin-bottom:40px;}

.cmn_btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: Urbano-LtExtraCond;
    font-size: 20px;
    left: 3px;
    letter-spacing: 2px;
    padding: 5px 13px;
    position: relative;
    text-transform: uppercase;cursor:pointer;
}
.cmn_btn::before {
  background: #a58241 none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 52%;
  transition: all 1s ease 0s;
  width: 0;
}
.cmn_btn:hover::before{ width: 100%;}
.cmn_btn::after {
    content: "";
    float: right;
    color: #a58241;
    font-family: fontawesome;
    font-size: 15px;
    position: absolute;
    right: -6px;
    top: 8.9px;
}
.box_sec  .vc_column-inner {padding:130px 0 !important;}
.box_sec:hover  h3{opacity:0.3;color:grey;}


.three_box  .box_sec.col-md-4 {
  margin:0 0 50px 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 11;
}
.three_box .box_sec p{margin:30px 0 !important;}


.three_box .box_sec h3 {
    font-size: 97px !important;
    font-weight: 300;
    line-height: 50px!important;
    letter-spacing: 20px;
}

.about_sec .vc_column-inner {
    background: rgba(0, 0, 0, 0) url(http://whitestonechambers.com//images/about-eye.png) no-repeat scroll center center;
    margin: auto;
    position: relative;
    text-align: center;
    background-position: 50% 51% !important;
    width: 100%;
}
.about_sec .box_sec {
      max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.about_sec .gold-outliner {
    margin:97px 0 !important;
}
.about_sec .box_sec h3 {
    margin:50px 0;
}
.about_sec .box_sec p {
    margin: 40px 0!important;
}
.about_sec .txt_ovrlay {  top: 40% !important;height:82px !important;}
.three_box .txt_ovrlay {  top: 38% !important;height:66px !important;}
.about_sec .box_sec h4{    color: #88714d;    font-size: 18px;    font-family: "minion-pro",serif!important;    margin: 0;    line-height: 28px;    padding: 7px 0 !important;
}
#case_study .box_sec h3{font-size: 97px;    letter-spacing: 20px;}

.about_sec .box_sec:hover h4 {
    height: auto;
    opacity: 1;
}
.about_sec .borders{
	display:none!important;
}
.about_sec .box_sec h4::after{bottom: 5px !important;}




.head-title {
  color: #89714d!important;
  font-size: 100px!important;
  font-family: 'Urbano-LtExtraCond';
font-weight: 400;
}
.bg.static{display:none;}
@media (max-width:900px){
	
.three_box .box_sec.col-md-4 {
  margin: 0 0 1% 0;
  padding: 0;
  position: relative;
  z-index: 11;
  max-width: 350px !IMPORTANT;
  width: 100% !important;
  float: none;
  display: inline-block;
}
.bg.static{display:none;}	
}

.col-md-3.photo_strm {
    display: none;
}

@media (max-width:767px){
.home-lynda {  padding-top: 90% !important;}
.box_sec h3,.three_box .box_sec h3,#case_study .box_sec h3,.blogList.no-style a{letter-spacing:0;}	
	
}



.imgbox_popmain .team-box{min-height:450px !important; }
.workstep_pop {
    position: fixed !important;
    z-index: 11111;
    top: 0;
    background: rgba(0,0,0,.9);
    bottom: 0;
    height: 3000px !important;
}
